<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
   
    <input type="hidden" formControlName="id">

    <app-form-field>
      <label for="name"> Nombre: </label>
      <input id="name" type="text" formControlName="name">
      <app-messages-error></app-messages-error>
    </app-form-field>
    <br/> 
       
    <app-form-field>      
      <label for="description"> Descripcion: </label>
      <textarea id="description" type="textarea" formControlName="description" rows="3" cols="20"></textarea>
      <app-messages-error></app-messages-error>
    </app-form-field>
    <br/>

    <app-form-field>
      <label for="trademark"> Marca: </label>
      <input id="trademark" type="text" formControlName="trademark">
      <app-messages-error></app-messages-error>
    </app-form-field>
    <br/>

    <app-form-field>
      <label for="year"> Año: </label>
      <input id="year" type="number" formControlName="year">
      <app-messages-error></app-messages-error>
    </app-form-field>
    <br/>

    <app-form-field>
      <label for="price"> Precio: </label>
      <input id="price" type="number" formControlName="price">
      <app-messages-error></app-messages-error>
    </app-form-field>
    <br/>
      
    <input type="hidden" formControlName="photo"> 

    <button type="submit" [disabled]="productForm.invalid" >Submit</button>
  
  </form>

 {{ 'invalid:' + productForm.invalid }}
 {{ 'valid:' + productForm.valid }}
 {{ 'tocuched:' + productForm.touched }}