.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  input[type=text] {
    border: 1px solid #ccc;
  }

  .pointer {cursor: pointer;}



  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .icon-shop {
    vertical-align: middle;
  }
  
  



  